* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style:none;
    margin: 0;
    padding: 0;
}
body,html,.contenedorH,.contenedorC{
    width: 100%;
    height: 100%;    
}
a:link{ 
    text-decoration:none; 
} 
footer a:visited {
    color: #003fff;
}
/*---------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------HOME----------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------nav-----------------------------------------------*/
.logo{
    width: 40%;
    height: 90%;
}
nav{
    background: rgb(74, 74, 255);
    grid-area: nav;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.menuSuperior_PC{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.botonSuperior{  
    color: #ffffff;
    background-color: rgb(74, 74, 255);
    margin: 0 3px;
}
.botonSuperior:hover{
    background: rgb(158, 185, 233);
    border-radius: 15px;
}
#menuSuperior_Movil{
    width: 25%;
    height: auto;
    position: absolute;
    top: 7%; 
    left: 70%;
    background: rgb(74, 74, 255);
}
#menuSuperior_Movil a{
    color: #ffffff;
}
.invisible{
    display: none;
}
/*-----------------------------------------menu---------------------------------------------------------*/
#menuHome{
    grid-area: article;
}
.botonInferior{
    background-color: rgb(50, 5, 199);
    color: #ffffff;
}
/*------------------------------------------presentacion----------------------------------------------*/
#presentacionHome{
    background-color: rgb(173,186,218);
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.separador{
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.espacioExtraHome{
    background-color: rgb(173,186,218);
    flex-grow: 8;
    width: auto;
    height: auto;
}
.letrasHome{
    background: url(images/presentacion1Izquierda.jpeg) no-repeat center;
    background-size: cover;
}
.imagenHome{
    background: url(images/presentacion1Derecha.jpeg) no-repeat center;
    background-size: cover;
}
/*----------------------------------------footer---------------------------------------------------------*/
footer{
    grid-area: footer;
    background-color: rgb(243, 243, 243);
    border-top: 5px solid rgb(228, 228, 228);    
}
.piePagina{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
/*-------------------------------------------------------------------------------------------------------*/
/*----------------------------------------MANTENIMIENTO--------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
.mantenimiento{
    background-image: url(images/mantenimiento.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    color: aliceblue;
    text-align: center;
  }
/*--------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------CONTACTANOS----------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------presentacion---------------------------------------------------*/
.presentacion_contacto{
    background-image: url(images/presentacion3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-position-y: 80%;
    margin: 0 0 4%;
  }
  .presentacion_contacto h1{
    float: right;
    margin: 9% 3%;
    color: #00226b;
    font-size: 50px;
  }
  /*-------------------------------------------centro------------------------------------------------------*/
  .cuerpo{
      margin: 0% auto;
    text-align: center;
    font-size: 120%;
    padding: 3%;
  }
  .cuerpo > p{
    text-align: justify;
  }
  label{
    display: block;
    margin: 3px;
  }
  #centroContacto section{
    flex-grow: 1;
  }
  #centroContacto{
      width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------VEHICULOS-----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
.presentacion_vehiculos{
  background-image: url(images/presentacion2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display:flex;  
  flex-direction: row;
  align-items: stretch;
}
.presentacion_vehiculos h1{
  font-size: 300%;
  color: #ffffff;
  border: 0;
  margin: 3%;
}
.menu_vehiculos{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}
.menu_vehiculos a{
  font-weight:bold;
  font-size:20px;
  color:#ffffff;
  background-color:#005BBB;
}
.plan{
    display: grid;
    grid-template-rows: 1fr 12fr;
    grid-template-areas:
    "arriba arriba"
    "izquierda derecha";
}
.titulo_plan{
    grid-area: arriba;
    background-color: #00226b;
    color: #ffffff;
}
.imagenPlan img{
    max-width: 100%; 
}
.imagenPlan{
    grid-area: izquierda;
  display: grid;
  grid-template-columns: 70% 30%;
}
.tabla{
    grid-area: derecha;
}
/*------------------------------------------tabla-------------------------------------------*/
table{
    border-collapse: collapse;
}
th,td{
    border: solid #005BBB;
    padding: 6px;
}
thead{
    background-color: #005BBB;
    color: white;
    border-bottom: #003fff 3px solid;
}
/*----------------------------------------media query------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------------MOVIL--------------------------------------------*/
@media only screen and (max-width: 650px) {
    .contenedorH{
        display: grid;
         grid-template-columns: auto;
         grid-template-rows: 7% 50% 35% auto;
         grid-template-areas:
             "nav"
             "header"
             "article"
             "footer";
    }
    .logo{
        visibility: hidden;
    }
    .menuSuperior_PC{
        display: none;
     }
    .botonInferior{
         height: 15%; 
         margin: 3%; 
         display: flex;
         justify-content: center;
    }
    .menuInferior p{
         display: none;
    }
    .piePagina{
        display: none;
    }
    .redes{
        height: 100%;        
    }
    .redes ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
 /*----------------------------------------------PC----------------------------------------------*/ 
@media only screen and (min-width:650px) {
   .contenedorH{
    display: grid;
    grid-template-columns: 20% 30% auto auto 15% 20%;
    grid-template-rows: 6% auto 17%;
    grid-template-areas:
        ". nav nav nav nav ."
        "header header header article article article"
        "footer footer footer footer footer footer";
   }
   .botonMovil{
       display: none;
   }
   .botonInferior{
       width: 38%;
       height: 38%;
       margin: 3%;
       padding: 10% 0 10% 0;
       text-align: center;
   }
   .menuInferior{
        height: auto;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
   }
   footer{
       display: flex;
       flex-direction: row;
   }
}